*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(0,0,0,0.7);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.stopwatch{
   background-color: transparent;
   padding: 20px 24px;
   border-radius: 20px
   background-image: url(nature.jpg);
   background-image: url(nature.jpg);

   background-size: 100% 100%;

}
.timerdisplay{
    font-size: 50px;
    font-weight: 600;
    background-color:transparent;
    display: grid;
    place-items: center;
   
}
.h1{
    color:transparent;
    background-image: url(free-nature-images.jpg);
    
    -webkit-background-clip: text;
    -moz-background-clip: text;
}
.buttons{
    margin-top: 20px;
}
.btn{
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: initial;
}
.sv{
    color: #c6e613;
    margin: 20px;
    padding: 20px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img{
    width: 400px;
}